@font-face {
font-family:latobold;
src: url('../fonts/Lato-Bold.ttf');
     
}
@font-face {
font-family: ayita;
src: url('../fonts/AyitaPro-SemiBold.ttf');
     
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#demo-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
*{
    margin: 0px;
    padding: 0px;
}
#contain{
    width:480px;
    height:150px;
    margin-left: 820px;
    margin-top:-134px;
  
}
.nav{
    
    width:100px;
    height:90px;
    float:left;
    margin-top:75px;
    
}
li{
    border-left: 1px solid #cccccc;
    padding-left: 20px;
    margin-left: -20px;
    list-style-type: none;
    height:30px;
    line-height: 30px;
    color: black;  
    margin-top:0px;
    opacity:0.7; 
    margin-left: 0px;
}
a:hover{
    color: #666600;
}
a:active{
    color: grey;
}
a:visited{
    color: indigo;
}
ul{
    float:left;
}
a{
    text-decoration:none;
    font-family: latobold;
    color: black;
}

img1{
    margin-left:80px;
    margin-top: 80px;
}

#headingName{
    margin-left: 200px;
    margin-top:-200px;
}
/* Body Menu */

#body{
    margin-top:30px;
    width:1120px;
    border-top:2px solid rgb(74,5,34);
    margin-left:70px;
}

#footer{
    clear: both;
    width:1120px;
    padding-top: 10px;
    border-top:2px solid rgb(74,5,34);
    margin-left:70px;
}
.links{
    color: #9999ff;
    border-right: #cccccc solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.navbar{
    float: right;
    color: #9999ff;
    border-right: #cccccc solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.navbar:hover{
    color: #666600;
}
.navbar:active{
    color: grey;
}
.navbar:visited{
    color: indigo;
}



#con{
    
    font-size:40px;
    color:grey;
    margin-top:20px;
    color:rgb(74,5,34);
}
#back-con{
    margin-top:20px;
    height:70px;
    width:790px;
    box-shadow: 2px 2px 2px black;
    background-color: lightgrey;
    text-align: center;
    border: 1px solid rgb(74,5,34);
    
    color:rgb(74,5,34);
    line-height: 60px;
    opacity: 1;
    border-radius: 10px;
    transition: box-shadow 2s;
    -moz-transition: box-shadow 2s;
}
#back-con:hover {
    
     box-shadow: 2px 2px 2px white;

}
#contact{
    margin-top:10px;
    width:500px;
}
table tr td{
    width:500px;
    height:50px;
}
label,textarea{
    color:rgb(74,5,34)
}
input:focus:valid{
    box-shadow: 1px 1px 1px green;
    border: #009900 solid 2px;
}
input:focus:invalid{
    border: #ff3333 solid 2px;
}
textarea:focus:valid{
    border: #009900 solid 2px;
}
textarea:focus:invalid{
    border: #ff3333 solid 2px;
}
textarea{
     padding-top:20px;
}
#button{
    text-decoration:none;
    width:100px;
    height:30px;
    background-color: appworkspace;
    border: black solid 1px;
    color:black;
    margin-left:650px;
    margin-top:10px;
    text-align: center;
    line-height: 30px;
    opacity:1;
}
#button:hover{
    opacity: 0.4;
}
#details{
    margin-top: 50px;
    margin-left: 75px;
    width: 305px;
    float: left;
    height: 650px;
}
#main{
    float: left;
    width: 600px;
}
#rit {
  font-family: ayita;
  position: absolute;
  margin-left: 90%;
  margin-top: 1%;
  text-align: center;
}
#logo1{
  opacity: 1;
  -webkit-transition: 1s;
}
#logo1:hover{
  opacity: 0.5;
}